
          
<!-- ####################### footer ##################### -->
<div class="container-fluid"  style="background-color:#DAEAF1">
  <footer>
      <h1 class="display-6 text-center">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-whatsapp"></i>
      </h1>
      <h4 class="text-dark text-center">
          Powered By 
          <strong style="color: red;font-family: Papyrus;">
            Exclusive
          </strong>
      </h4>
  </footer>
</div>
<!-- ####################### footer ##################### -->
