<div class="container">
    <!-- ##################  navbar ########################################-->
<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#searchbar" aria-controls="searchbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
      <div class="collapse navbar-collapse" id="searchbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Clothes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " id="dropdownMenulink" aria-current="page" href="#"  data-bs-toggle="dropdown" aria-expanded="false">More Categories</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenulink">
                <li><a class="dropdown-item" href="#">Food</a></li>
                <li><a class="dropdown-item" href="#">Crafts and Decorations</a></li>
                <li><a class="dropdown-item" href="#">Wardrobe</a></li>
                <li><a class="dropdown-item" href="#">Gifts</a></li>

              </ul>
          </li>
          
         
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">              
          </form>
          
      </div>
    </div>
  </nav>
  
      <!-- ##################  navbar ########################################-->
</div>   